.chartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartText {
  display: flex;
  flex-direction: column;
}

.ten-pixels-empty-div {
  width: 10px;
  height: 10px;
}

.thirty-pixels-empty-div {
  width: 30px;
  height: 30px;
}

.flex-div {
  display: flex;
}

.percentage-text {
  @include fontWith($size: 16px, $weight: bold, $lineHeight: 1.25);
  color: $primaryColor;
}

.chart-name {
  @include fontWith($size: 13px, $lineHeight: 1.54);
  color: $customDarkGrey;
}

@media (max-width: 575.98px) {
  .chartContainer {
    transform: scale(0.7);
  }

  .thirty-pixels-empty-div {
    width: 0px;
    height: 0px;
  }

  .ten-pixels-empty-div {
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 767.98px) {
  .left-offset {
    transform: scale(0.9);
    margin-left: -20px;
  }

  .chartContainer {
    transform: scale(0.7);
  }

  .thirty-pixels-empty-div {
    width: 10px;
    height: 10px;
  }

  .ten-pixels-empty-div {
    width: 5px;
    height: 5px;
  }
}

