footer {
    background-color:#efeff4;
    padding-top: 65px;
    padding-bottom: 65px;

    h5 {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #666666;
        padding: 0px;
        margin-bottom: 10px;
    }
    .row {
        div {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .nav-item {
        .nav-link {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #8a8a8f;
            padding: 0px;
            margin-bottom: 10px;
        }
    }
    .aspire-logo-footer {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }
}