.app-header {
    min-height: 80px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);
    .aspire-logo {
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-right: 100px;
    }
    .avatar {
        width: 44px;
        height: 44px;
        background-color: #efeff4;
        border-radius: 50%;
    }
    .nav-pills.mr-auto {  
        @include underline-link(#666666);
    }
    .nav-pills.mr-auto {
        .nav-item {
            .nav-link {
                @include generate-font(16px,600,1.5,#666666);
                margin-right: 36px;
                padding: 0px;
                padding-bottom: 8px;
            } 
        }
    }
    .nav-pills.mr-auto{
        .nav-item {
            .nav-link.active {
                color: #666666;
            }
        }
    }
    .auth.ml-auto {
            .nav-item {
                .inbox {
                    margin-right: 24px;
                }
                .notifications {
                    margin-right: 40px;
                }
                .list-unstyled {
                    text-align: right;
                    margin-right: 12px;
                    .company {
                        @include generate-font(14px,normal,1.14,#8a8a8f);
                    }
                    .username {
                        @include generate-font(15px,600,1.27,#666666);
                    }
                }
            }
            @media (max-width: 991.98px) { 
                margin-top: 11px;
                -ms-flex-pack: center !important;
                justify-content: center !important;
                text-align: center;
                flex-direction: row;
                .nav-item {
                    .inbox {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                    .notifications {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                    .list-unstyled {
                        text-align: center;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        @media (max-width: 991.98px) { 
            .auth.mr-auto {
                .nav-item {
                    .nav-link {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        margin-right: 0px;
                    } 
                }
            }
        }

   
    .no-auth {
        .btn-sign-up {
            @include generate-button(13px,40px,18px,bold,normal);
            margin-left: 10px;
            margin-right: 10px;
        }
        .nav-item {
            .nav-link {
                @include generate-font(18px,600,1.44,#8a8a8f);
                margin-left: 20px;
                margin-right: 20px;
                padding: 0px;
            }
        }
        .vdivide {
            width: 2px;
            height: 26px;
            background-color: #c8c7cc;
            margin-left: 20px;
            margin-right: 20px;
        }
        @media (max-width: 991.98px) { 
        
            .nav-item {
                .nav-link {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
            }
            .vdivide {
                display: none;
            }
        }
    }
}
