
$borderBlue: #179bff;
$borderYellow: #ffcc00;
$borderGreen: #2fcc71;

$acceptButtonWidth: 79px;
$makeOfferButtonWith: 101px;

.card-title-text {
  @include fontWith($size: 20px, $weight: bold, $lineHeight: 1.5);
  white-space: nowrap;
}

.dropdown-class {
  width: 20px;
}

.card-title-text {
  color: $primaryColor ;
}

.middle-card-text, .invite-card-underscored-text {
  color: $light-text;
}

.middle-card-text {
  @include fontWith($size: 15px, $lineHeight: 1.4);
}

.invite-card-underscored-text {
  @include fontWith($size: 16px, $lineHeight: 1.5);
}

.ml-0-9 {
  margin-left: -3px;
}

.mr-m5 {
  margin-right: -30px;
}

.invite-to-apply-button {
  width: $inviteToApplyButtonWidth;
  height: $starWithEqualHeight;

  @include fontWith($size: 15px, $weight:500, $lineHeight: 1.33);
  color: white;
  background-color: $body-color;

  &:hover {
    background-color: $body-color;
  }
}

.accept-button {
  @extend invite-to-apply-button !optional;
  @include fontWith($size: 15px, $weight:500, $lineHeight: 1.33);
  background-color: $body-color;
  width: $acceptButtonWidth;

  &:hover{
    background-color: $body-color;
  }
}

.make-offer-button {
  @extend invite-to-apply-button !optional;
  @include fontWith($size: 15px, $weight:500, $lineHeight: 1.33);
  width: $makeOfferButtonWith;
  height: $starWithEqualHeight;
  background-color: $body-color;

  &:hover{
    background-color: $body-color;
  }
}

.touch-style {
  cursor: default;
  z-index: 10000000000000000000;
}

 #smallCardDropdown {
  padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}

.blah {
  z-index: 10000000000000000;
}

.transparent-button {
  border: 0px;
}

.transparent-button {
  background: transparent;
  outline: 0px;
}

.self-left {
  align-self: flex-start;
  justify-self: center;
}

.disable-border:focus, .disable-border:active {
    outline: none !important;
    box-shadow: none;
}

.self-right {
  align-self: flex-end;
  justify-self: center;
}

.self-center {
  align-self: center;
  justify-self: left;
}

.bottom-buttons, .title-container, .hired-buttons {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.bottom-buttons {
  margin-top: 10px;
}

margin-left-12 {
  margin-left: 12px;
  padding-left: 12px;
}

.badge-item {
  @include fontWith($size: 14px, $weight: normal, $lineHeight: 1.29);
  height: 28px;
  padding-right: 12px;
  padding-left: 12px;
}

.border-blue {
  border-color: $borderBlue !important;
  color: $borderBlue !important;
  background-color: white;
}

.border-green {
  color: $borderGreen !important;
  border-color: $borderGreen !important;
  background-color: white;
}

.border-yellow {
  color: $borderYellow !important;
  border-color: $borderYellow !important;
  background-color: white;
}

.border-transparent {
  visibility: hidden;
}

.star {
  width: $starWithEqualHeight;
  height: $starWithEqualHeight;
}

.pt-2-5 {
  margin-top: 12px;
}

.accept-decline-buttons {
  display: flex;
  justify-content: flex-start;
}

.dropdown-item {
  @include fontWith($size: 14px, $weight: 500, $lineHeight: 1.29);
  color: $body-color;
  background-color: #f9f9f9;
}

.dropdown-menu {
  background-color: #f9f9f9;
}

.decline-button {
  width: 81px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 2px #c8c7cc;
  @include fontWith($size: 15px, $weight: 500, $lineHeight: 1.33);
  color: $light-text;
  flex-shrink: 1;

  &:hover {
    background-color: $body-color;
    border: 0px;
  }
}

.empty-div {
  width: 24px;
  height: 1px;
  border: 0;
  background-color: white;
}

@media (min-width: 991.98px) {
  .mr-m5 {
    margin-right: -20px;
  }
}

@media (max-width: 768.0px) {
  .mr-m5 {
    margin-right: -120px;
  }
}

@media (max-width: 575.98px) {
  .mr-m5 {
    margin-right: -60px;
  }
}
