
.preciate-navbar {

  h4 {
    font-weight: bold;
  }

  .btn-lg {
    padding: 1rem 2rem;
  }

  .nav-pills.mr-auto {
    @include underline-link($primaryColor);
  }

  .nav-pills.mr-auto {
    .nav-item {
      .nav-link {
        color: $primaryColor;
        margin-right: 36px;
        padding: 0px;
        padding-bottom: 8px;
      }
    }
  }
}