$disabledDotsColor: #C8C7CC;

.boldFont {
  @include fontWith($size: 20, $weight: bold, $lineHeight: 1.5);
}

.arrow-top-margin {
  margin-top: -3px;
}

.dots-settings {
  @extend boldFont !optional;
}

.disabled-dots {
  color: $disabledDotsColor;
}

.enabled-dots {
  color: $primaryColor;
}

.pagination-number {
  @extend boldFont !optional;
  color: $primaryColor;
}

.disable-outline {
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

.align-in-center {
  padding:0;
  display: flex;
  justify-content: center !important;
  margin-left: 0px;
  margin-right: 0px;
}