
.vw100 {
  width: 100vw;
}

.ml-mr-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.z-index-max {
  z-index: 999;
}

.background-transparent {
  background-color: transparent;
  background: transparent;
  border: 0px;
  outline: 0px;

  &:active {
    border: 0px;
    outline: 0px
  }
}