.assessment-block {
    .card {
        border: 0px;
        margin-bottom: 24px;
        padding: 36px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);
    }
    .account-created {
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
        margin-top: 48px;
        margin-bottom: 6px;
    }
    .account-assessment-desc {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #a1a1a1;
        margin-bottom: 36px;
    }
    .assessment-title {
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;
        color: #666666;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .assessment-time {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #a1a1a1;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .checked {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-right: 12px;
    }
    .btn-lg {
        border-radius: 3px;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        padding: 15px 36px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .btn-toolbar {
        padding-top: 12px;
        margin-bottom: 70px;
        .btn-lg{
            margin: 2px 12px
        }
    }
    .btn-link{
        color: #a1a1a1;
    }
    .btn-link:hover{
        color: #666666;
    }
    .skip-test,.next-test,.skip-assessment {
        text-decoration: underline;
    }
    .culture-assessment {
        .culture-assessment-title {
            font-size: 28px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.07;
            letter-spacing: normal;
            color: #666666;
            margin-bottom: 24px;
        }
        .culture-assessment-desc {
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #666666;
            margin-bottom: 3px;
        }
        .culture-assessment-details {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #a1a1a1;
            margin-bottom: 24px;
        }
        .pages {
            font-size: 24px;
            font-weight: 600;
            font-style: italic;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: right;
            color: #8a8a8f;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .td-valign {
            text-align: center;
            vertical-align: middle;
        }
        .table {
             margin-bottom: 0px;
        }
        thead, tfoot {
            background-color: #f9f9f9;
            tr th{
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.56;
                letter-spacing: normal;
                color: #666666;
                padding: 14px;
                border-bottom: 0px;
                border-top: 0px;
            }
        }
        tbody tr td {
            border-top: 0px;
            border-bottom: 1px solid #efeff4;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;
            letter-spacing: normal;
            color: #8a8a8f;
            padding: 16px;
        }
        .form-group {
            margin-bottom: 0px;
        }
        .form-control{
            width: 94px;
            height: 40px;
            border: 0px;
            border-radius: 2px;
            background-color: #efeff4;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.13;
            letter-spacing: normal;
            color: #666666;
            @include placeholder(#a1a1a1);
        }
        .form-control:focus{
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .btn-lg {
            border-radius: 3px;
            background-color: #ffffff;
            border-color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #666666;
            padding: 0px;
            margin: 2px 18px
        }
        .btn-toolbar {
            padding-top: 36px;
            margin-bottom: 0px;
        }
        .back-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-right: 16px;
        }
        .next-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-left: 16px;
        }
        .skip-test {
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 0.575rem;
            padding-bottom: 0.425rem
        }
        .next-test {
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            padding: 0.575rem;
            padding-bottom: 0.425rem
        }
    }
    .personalities-assessment {
        .personalities-assessment-title {
            font-size: 28px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.07;
            letter-spacing: normal;
            color: #666666;
            margin-bottom: 24px;
        }
        .personalities-assessment-desc {
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #666666;
            margin-bottom: 3px;
        }
        .personalities-assessment-details {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #a1a1a1;
            margin-bottom: 24px;
        }
        .pages {
            font-size: 24px;
            font-weight: 600;
            font-style: italic;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: right;
            color: #8a8a8f;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .td-valign {
            text-align: center;
            vertical-align: middle;
        }
        .table {
             margin-bottom: 0px;
        }
        tbody tr td {
            border-top: 0px;
            border-bottom: 0px;
            padding: 16px 12px;
            white-space: nowrap;
        }
        .form-group {
            margin-bottom: 0px;
        }
        .form-control{
            width: 94px;
            height: 40px;
            border: 0px;
            border-radius: 2px;
            background-color: #efeff4;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.13;
            letter-spacing: normal;
            color: #666666;
            @include placeholder(#a1a1a1);
        }
        .form-control:focus{
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .check {
            margin-bottom: 0px;
        }
        .check input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            display: none;
        }
        .checkmark {
            width: 176px;
            height: 198px;
            padding: 24px;
            border-radius: 3px;
            background-color: #f9f9f9;
            cursor: pointer;
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.76;
            letter-spacing: normal;
            color: #8a8a8f;
        }
        .check input:checked ~ .checkmark {
            background-color: #a1a1a1;
            color: #ffffff;
        }
        .check input:disabled ~ .checkmark {
            background-color: #f9f9f9;
            color: #a1a1a1;
            cursor: default;
        }
        .btn-lg {
            border-radius: 3px;
            background-color: #ffffff;
            border-color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #666666;
            padding: 0px;
            margin: 2px 18px
        }
        .btn-toolbar {
            padding-top: 36px;
            margin-bottom: 0px;
        }
        .back-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-right: 16px;
        }
        .next-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-left: 16px;
        }
        .skip-test {
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 0.575rem;
            padding-bottom: 0.425rem
        }
        .next-test {
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            padding: 0.575rem;
            padding-bottom: 0.425rem
        }
    }
    .values-assessment {
        .values-assessment-title {
            font-size: 28px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.07;
            letter-spacing: normal;
            color: #666666;
            margin-bottom: 24px;
        }
        .values-assessment-desc {
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #666666;
            margin-bottom: 3px;
        }
        .values-assessment-details {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #a1a1a1;
            margin-bottom: 24px;
        }
        .pages {
            font-size: 24px;
            font-weight: 600;
            font-style: italic;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: right;
            color: #8a8a8f;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .td-valign {
            text-align: center;
            vertical-align: middle;
        }
        .table {
             margin-bottom: 0px;
        }
        tbody tr td {
            border-top: 0px;
            border-bottom: 0px;
            font-size: 17px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.65;
            letter-spacing: normal;
            color: #8a8a8f;
            padding: 16px;
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f9f9f9;;
        }
        .form-group {
            margin-bottom: 0px;
        }
        
        .radio {
            margin-bottom: 0px;
            display: block;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .radio span {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #8a8a8f;
        }

        .radio input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            display: none;
        }

        .checkround {
            position: absolute;
            top: 2px;
            left: 0;
            height: 24px;
            width: 24px;
            background-color: initial ;
            border-color:#8a8a8f;
            border-style:solid;
            border-width:2px;
            border-radius: 50%;
        }

        .radio input:checked ~ .checkround {
            background-color: initial;
        }

        .checkround:after {
            content: "";
            position: absolute;
            display: none;
        }

        .radio input:checked ~ .checkround:after {
            display: block;
        }

        .radio .checkround:after {
            left: 3px;
            top: 3px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background:#8a8a8f;
        }

        .btn-lg {
            border-radius: 3px;
            background-color: #ffffff;
            border-color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #666666;
            padding: 0px;
            margin: 2px 18px
        }
        .btn-toolbar {
            padding-top: 36px;
            margin-bottom: 0px;
        }
        .back-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-right: 16px;
        }
        .next-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-left: 16px;
        }
        .skip-test {
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            padding: 0.575rem;
            padding-bottom: 0.425rem
        }
        .next-test {
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            padding: 0.575rem;
            padding-bottom: 0.425rem
        }
    }
    .alert {
        padding: 12px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #8a8a8f;
        margin-bottom: 15px;
    }
}