.main-block {
    background-color:  #efeff4;
    margin-bottom: 100px;
    .aspire-logo {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    h5 {
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
        margin-bottom: 45px;
    }
    h2 {
        font-size: 35px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
    }
    .btn-lg {
        border-radius: 3px;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        padding: 18px 44px;
        margin:15px;
    }
    .btn-sign-up {
        border-radius: 3px;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        padding: 13px 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-item {
        .nav-link {
            font-size: 18px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.44;
            letter-spacing: normal;
            color: #8a8a8f;
            margin-left: 20px;
            margin-right: 20px;
            padding: 0px;
        }
    }
    .vdivide {
        width: 2px;
        height: 26px;
        background-color: #c8c7cc;
        margin-left: 20px;
        margin-right: 20px;
    }
    @media (max-width: 991.98px) { 
    
        .nav-item {
            .nav-link {
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 8px;
                margin-bottom: 8px;
            }
        }
        .vdivide {
            display: none;
        }
    }
}

.fourth-block {
    .card {
        margin-bottom: 100px;
        padding: 40px 50px;
        border: 0px;
        box-shadow: 0 1px 7px 0 rgba(6, 30, 58, 0.1);
    }
    .btn-lg {
        border-radius: 3px;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        padding: 18px 44px;
    }
    h5 {
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: normal;
        color: #8a8a8f;
        margin-bottom: 8px;
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #666666;
        margin-bottom: 8px;
    }
}

.third-block {
    .recruiter-logo {
        width: 225px;
        height: 36px;
        object-fit: contain;
    }
    .hdruk-logo {
        width: 138px;
        height: 46px;
        object-fit: contain;
    }
    .british-airways-logo {
        width: 276px;
        height: 45px;
        object-fit: contain;
    }
    .business-insider-logo {
        width: 100px;
        height: 40px;
        object-fit: contain;
    }
    .forbes-logo {
        width: 143px;
        height: 36px;
        object-fit: contain;
    }
    .row {
        margin-bottom: 100px;
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
        margin-bottom: 48px;
    }
}

.second-block {
    .row {
        margin-bottom: 100px;
    }
    .empty-box {
        background: #efeff4;
        width: 100%;
        height: 400px;
    }
    h5 {
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #8a8a8f;
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #666666;
        margin-bottom: 16px;
    }
}