.login-block {
    .aspire-logo {
        margin-top: 60px;
        margin-bottom: 20px;
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
    .card {
        border: 0px;
        margin-top: 20px;
        margin-bottom: 215px;
        padding: 40px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);
    }
    .nav-pills {
        margin-bottom: 24px;
        @include underline(#8a8a8f);
    }
    .nav-item {
        width: 50%;
        .nav-link {
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            padding: 0px;
            padding-bottom: 12px;
            color: #c8c7cc;
        }
    }
    .nav-item.active {
        .nav-link {
            color: #666666;
        }
    }
    .reset-password, .create-account {
        color: #8a8a8f;
    }
    .reset-password:hover, .create-account:hover {
        color: #666666;
    }
    .create-account {
        text-decoration: underline;
    }
    .reset-password{
        @include generate-font(12px,normal,1.33,#a1a1a1);
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #666666;
        margin-bottom: 24px;
    }
    .form-group {
        margin-bottom: 24px;
        &.password {
            margin-bottom: 8px;
        }
    }
    label {
        z-index: 4;
        display: inline-block;
        position:absolute;
        left: 24px;
        top: 18px;
        pointer-events: none;
        transition: all 150ms ease-in;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #a1a1a1;
        margin-bottom: 0px;
    }
    label.active {
        transform: translateY(-32px);
        left: 0px;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: normal;
    }
    .form-control{
        height: 50px;
        border: 0px;
        border-radius: 2px;
        background-color: #efeff4;
        padding: 16px 24px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #666666;
        @include placeholder(#a1a1a1);
    }
    .form-control:focus{
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .input-group-append {
        height: 50px;
        border: 0px;
        border-radius: 2px;
        background-color: #efeff4;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #666666;
    }
    .eye-icon {
        cursor: pointer;
        margin-left: 16px;
        margin-right: 16px;
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
    .eye-icon.active {
        color: #a1a1a1;
    }
    .btn-lg {
        border-radius: 3px;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f9f9f9;
        padding: 15px 36px;
    }
    .btn-toolbar {
        .btn-group{
            margin-top: 8px;
        }
    }
    .hr-or {
        @include bg-strike(#efeff4);
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .linkedin-icon {
        margin-right: 12px;
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
    .linkedin-button {
        border-radius: 3px;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f9f9f9;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .alert {
        padding: 12px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #8a8a8f;
        margin-bottom: 15px;
    }
}