$bg-image-color: #f9f9f9;
$border-image-color: #d8d8d8;


@mixin bg-vars($color1, $color2) {
  background-color: $color1;
  border: 1px solid $color2;
}

.company-preview{
  padding-bottom: 70px;

  &-bg-img{
    height: 280px;
    width: 1600px;
    padding-left: 200px;
    margin-top: 24px;
    padding-right: 200px;
    background-color: $bg-image-color;
    border: 1px solid $bg-image-color;

  }
  &-avatar-img{
    width: 171px;
    margin-top: 165px;
    height: 171px;
    border-radius: 3.1px;
    @include bg-vars($bg-image-color, $border-image-color);
  }


  &-jobs{
      width: 187px;
      height: 51px;
      border-radius: 3px;
      background-color: #666666;
      margin-top: -87px;
      margin-left: 1043px;
    }

  .company-preview-jobs-text {

    font-family: SFProDisplay;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f9f9f9;

  }

  .company-preview-name {
    font-family: SFProDisplay;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #666666;
    margin-top: -62px;
    margin-left: 395px;
  }
  .company-preview-name-description{

      font-family: SFProDisplay;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: #8a8a8f;
      margin-top: 8px;
    margin-left: 395px;

  }
  .company-preview-info{
      margin-left: 395px;
      margin-top: 48px;
  }
  .block{
    margin-right: 30px;
  }
  .company-preview-info-block{

    font-family: SFProDisplay;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #a1a1a1;
  }

  .company-preview-info-value{
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #8a8a8f;
  }

  .company-representative-background{
    margin-left: 1016px;
    margin-top: 36px;
  }
  .preview-main{
    margin-top: 36px;
  }
  .company-preview-whatWeDo {
    width: 792px;
    height: 446px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);

    margin-left: 200px;
    padding-top: 36px;

    h1{
      margin-left: 36px;
      font-family: SFProDisplay;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
    }
    p{
      margin-left: 36px;
      margin-top: 12px;
      margin-right: 36px;
      text-align: left;

      font-family: SFProDisplay;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #a1a1a1;

    }
  }

  .company-preview-background {
    margin-left: 200px;
    margin-top: 36px;
    padding-top: 36px;
    padding-left: 36px;
    width: 792px;
    height: 641px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);

    h1 {
      font-family: SFProDisplay;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
    }
    h2 {
      margin-top: 24px;
      font-family: SFProDisplay;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;

    }
  }

  .company-preview-perks{

    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 12px;
    width: auto;
    height: 38px;
    border-radius: 2px;
    background-color: #efeff4;

    h1 {
      font-family: SFProDisplay;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
    }
    h2 {
      margin-top: 24px;
      font-family: SFProDisplay;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;

    }
    span{
      font-family: SFProDisplay;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: center;
      color: #666666;
    }
  }
    .company-preview-perks-work-tag{

      padding-right: 15px;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 12px;
      width: auto;
      height: 38px;
      border-radius: 2px;
      background-color: #efeff4;

    }

  .company-preview-perks-compensation {

    h2 {
      margin-top: 32px;
      font-family: SFProDisplay;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;

    }
  }
  .company-preview-perks-compensation-tag {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 12px;
    width: auto;
    height: 38px;
    border-radius: 2px;
    background-color: #efeff4;


  }
  .company-preview-perks-environment-tag {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 12px;
    width: auto;
    height: 38px;
    border-radius: 2px;
    background-color: #efeff4;

  }

  .company-preview-perks-environment-tag {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 12px;
    width: auto;
    height: 38px;
    border-radius: 2px;
    background-color: #efeff4;

  }
  .company-preview-perks-development-tag {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 12px;
    width: auto;
    height: 38px;
    border-radius: 2px;
    background-color: #efeff4;

  }
  .company-preview-perks-wealth-tag{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 12px;
    width: auto;
    height: 38px;
    border-radius: 2px;
    background-color: #efeff4;

  }
  .company-preview-jobs-background {
    padding-top: 36px;
    padding-left: 36px;
    margin-top: 24px;
    margin-left: 200px;
    width: 792px;
    height: 388px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);

    h1 {

      font-family: SFProDisplay;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
    }
    a {
      margin-left: 499px;
      font-family: SFProDisplay;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #a1a1a1;
    }
    .company-preview-jobs-background-companyjobs {
      font-family: SFProDisplay;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
    }

  }

  .company-preview-jobs-block{
      padding-top: 32px;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 24px;
      margin-right: 24px;
      width: 348px;
      height: 262px;
      border-radius: 3px;
      background-color: #f9f9f9;

    .editor{
      font-family: SFProDisplay;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
    }

    .oval::after {

        content: "  \2022  ";
      }
    .text-1{
      font-family: SFProDisplay;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #a1a1a1;
      }
    .text-2{
      margin-top: 12px;
      font-family: SFProDisplay;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: #8a8a8f;
    }
    .text-content{
      margin-top: 12px;
      margin-right: 24px;
      font-family: SFProDisplay;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #a1a1a1;
    }
    .button-apply{
      margin-top: 24px;
      width: 93px;
      height: 40px;
      border-radius: 2px;
      background-color: #8a8a8f;
      font-family: SFProDisplay;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    img{
      margin-left: 10px;
      width: 27px;
      height: 25px;
      background-color: #efeff4;
      border: solid 1px #e1e1e6;
    }

  }
  .company-preview-our-office-background{
    margin-top: 24px;
    margin-left: 200px;
    padding-top: 35.9px;
    padding-bottom: 35.9px;
    padding-left: 36px;
    padding-right: 36px;
    width: 792px;
    height: 575px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);

    .header-text{
      font-family: SFProDisplay;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
    }
    .arrow-gray{
      margin-left: 584px;
    }
    .arrow-dark{
      margin-left: 12px;
    }
    .photo-company{
      margin-top: 16px;
      margin-right: 24px;
      width: 224px;
      height: 164.7px;
      border-radius: 4.6px;
      background-color: #f9f9f9;
      border: solid 3.1px #d8d8d8;

    }
    .our-team{
      margin-top: 31.9px;
    }
    .who{
      margin-top: 16px;
      font-family: SFProDisplay;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: #666666;
    }



  }
  .description{
    margin-top: 4px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #a1a1a1;
  }

  .company-representative-background{
    padding-left: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 384px;
    height: 383px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);

    .company-representative-header{
      font-family: SFProDisplay;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
    }
    .company-representative-img{
      margin-top: 16px;

      width: 190px;
      height: 140px;
      border-radius: 3px;
      background-color: #f9f9f9;
      border: solid 2px #d8d8d8;
    }
    .who{
      margin-top: 12px;
      font-family: SFProDisplay;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: #666666;
    }
    .company-representative-btn {
      margin-top: 16px;
    width: 145px;
    height: 51px;
    border-radius: 3px;
    background-color: #666666;
      font-family: SFProDisplay;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #f9f9f9;
  }

  }
  .company-culture-background {
    padding-left: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-right: 36px;
    margin-left: 1016px;
    margin-top: 24px;
    width: 384px;
    height: 645px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);

    .company-culture-header{
      font-family: SFProDisplay;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #666666;
    }
    .company-culture-content{

      font-family: SFProDisplay;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #a1a1a1;

    }
  }
  .social-icons {
margin-left: 189px;
    .logo {
      margin-right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #c8c7cc;
      text-align: center;
    }
  }










}
