.profile-block {

    // common
    .profile-form-section,.profile-sidebar{
        margin-top: 32px;
        margin-bottom: 32px;
    }

    @media (max-width:767px) {
        .profile-sidebar{
            margin-bottom: 0px;
        }
    }

    // sidebar
    .profile-sidebar {
        .nav-pills { 
            @include underline-sidebar(#c8c7cc, #f9f9f9);
        }
        .nav-item {
            .nav-link {
                @include generate-font(18px,bold,1.44,#666666);
                padding: 16px 24px;
            }
        }
        .nav-item.active {
            .nav-link {
                color: #666666;
            }
        }
    }

    // profile-form-section
    .profile-form-section {


        #company-information, #locations, #perks-and-benefits, #assessment, #representative, #social-networks {
            margin-bottom: 24px;
            @include cards();
        }

        .company-information-title, .location-title, .assessment-title, .representative-title, .social-networks-title {
            @include generate-font(20px,bold,1.5,#666666);
            margin-bottom: 24px;
        }
        
        .perks-and-benefits-title{
            @include generate-font(20px,bold,1.5,#666666);
        }

        #company-information {

            .company-information-title {
                @include generate-font(20px,bold,1.5,#666666);
                margin-bottom: 24px;
            }

            .view-company-page-btn {
                @include generate-button(0px,0px,18px,500,1.3);
                margin-bottom: 24px;
                text-decoration: underline;
            }

            @include drop-zone();

            .form-group {
                margin-bottom: 24px;
                &.weareproudof{
                    margin-bottom: 0px;
                }
                @include input-label();
                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-position: right 50%;
                    background-repeat: no-repeat;
                    background-image: url("../assets/caret-down.svg");
                }
                textarea.form-control {
                    min-height: 100px;
                    height: 100px;
                }
                .form-control{
                    height: auto;
                    border: 0px;
                    border-radius: 2px;
                    background-color: #efeff4;
                    padding: 12px 24px;
                    @include generate-font(16px,normal,1.13, #666666);
                    @include placeholder(#a1a1a1);
                    &:focus{
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }            
        }

        #locations {

            .add-location-btn {     
                @include generate-button(0px,0px,16px,normal,1.5);
                background-color: #ffffff;
                border-color: #ffffff;
                color: #a1a1a1;
                margin: 0px;
                margin-top: 12px;
                margin-bottom: 24px;
                .add-icon {
                    @include icon();
                    margin-right: 5px;
                }
            }

            .add-member-btn {
                @include generate-button(0px,0px,16px,normal,1.5);
                background-color: #ffffff;
                border-color: #ffffff;
                color: #a1a1a1;
                margin: 0px;
                margin-bottom: 0px;
                .add-icon {
                    @include icon();
                    margin-right: 5px;
                }
            }
            
            .form-group {
                margin-bottom: 24px;
                &.without-margin{
                    margin-bottom: 0px;
                }
                &.name,.position{
                    margin-top: 16px;
                }
                @include input-label();
                .form-control{
                    height: auto;
                    border: 0px;
                    border-radius: 2px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    background-color: #efeff4;
                    padding: 12px 24px;
                    @include generate-font(16px,normal,1.13, #666666);
                    @include placeholder(#a1a1a1);
                    &:focus{
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
                .input-group-append {
                    height: auto;
                    border: 0px;
                    border-radius: 2px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    background-color: #efeff4;;
                    color: #666666;
                    margin-left: 0px;
                    .close-location {
                        cursor: pointer;
                        margin-left: 16px;
                        margin-right: 16px;
                        @include icon()
                    }
                }
                
            }

            .our-office-label, .our-team-label {
                margin-bottom: 16px;
                @include generate-font(16px,bold,1.5, #666666);
            }

            .arrow-btns{
                .btn-lg {
                    @include generate-button(0px,0px,20px,bold,normal);
                    background-color: #ffffff;
                    border-color: #ffffff;
                    margin: 2px 6px
                }
                .back-icon, .next-icon {
                    @include icon();
                }
            }

            @include drop-zone();

            .images-array {
                position: relative;
                width: 100%;
                height: 140px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 2px #d8d8d8;
                @include generate-font(16px,normal,1.5, #a1a1a1);
                text-align: center;
                @include image-preview(140px);
                margin-bottom: 24px;
                .upload-images-delete {
                    z-index: 3;
                    position: absolute;
                    @include icon();
                    cursor: pointer;
                    margin: 4px;
                    color: #a1a1a1;
                    top: 0;
                    right: 0px;
                }
                .upload-images-edit {
                    z-index: 3;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    object-fit: contain;
                    cursor: pointer;
                    margin: 4px;
                    color: #a1a1a1;
                    top: 0;
                    right: 24px;
                }
            }

            .images-team-array {
                position: relative;
                width: 100%;
                height: 140px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 2px #d8d8d8;
                @include generate-font(16px,normal,1.5, #a1a1a1);
                text-align: center;
                @include image-preview(140px);
                .upload-images-delete {
                    z-index: 3;
                    position: absolute;
                    @include icon();
                    cursor: pointer;
                    margin: 4px;
                    color: #a1a1a1;
                    top: 0;
                    right: 0px;
                }
                .upload-images-edit {
                    z-index: 3;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    object-fit: contain;
                    cursor: pointer;
                    margin: 4px;
                    color: #a1a1a1;
                    top: 0;
                    right: 24px;
                }
            }

            .team-images-container {
                margin-bottom: 24px;
                .member-name{
                    @include generate-font(15px,500,1.4, #666666);
                    margin-top:12px;
                    margin-bottom: 4px;
                }
                .member-position {
                    @include generate-font(15px,normal,1.4, #a1a1a1);
                }
            }
            
        }

        #perks-and-benefits {
            .perks-and-benefits-section {
                @include generate-font(16px,bold,1.5,#666666);
                margin-bottom: 3px;
                margin-top:24px;
            }

            .perks-and-benefits-desc{
                @include generate-font(15px,normal,1.4,#a1a1a1);
                margin-bottom: 10px;
            }

            .perks-and-benefits-card{
                background-color: #8a8a8f;
                display:inline-block;
                border-radius: 2px;
                padding: 10px 15px;
                margin-right: 12px;
                margin-bottom: 12px;
                white-space: nowrap;
                span{
                    @include generate-font(14px,500,1.29,#ffffff);
                    text-align: center;
                }
                .close-icon {
                    margin-left: 7px;
                    width: 18px;
                    height: 18px;
                    object-fit: contain;
                    color: #ffffff;
                    cursor: pointer;
                }
                &.unactive{
                    cursor: pointer;
                    background-color: #efeff4;
                    span{
                        @include generate-font(14px,500,1.29,#666666);
                    }
                }
            }

            .add-card-btn {
                border-radius: 3px;
                background-color: #ffffff;
                border-color: #ffffff;
                color: #a1a1a1;
                @include generate-button(0px,0px,16px,normal,1.5);
                margin: 0px;
                .add-icon {
                    @include icon();
                    margin-right: 5px;
                }
            }

            .add-perks-and-benefits-input-container{
                width: 260px;
                margin-top: 6px;
                margin-bottom: 8px;
                &.without-padding{
                    padding-bottom: 0px;
                }
                .form-group {
                    margin-bottom: 0px;
                    label {
                        z-index: 4;
                        display: inline-block;
                        position:absolute;
                        left: 12px;
                        top: 10px;
                        pointer-events: none;
                        transition: all 150ms ease-in;
                        @include generate-font(14px,500,1.29,#a1a1a1);
                        margin-bottom: 0px;
                        &.active{
                            transform: translateY(-24px);
                            left: 0px;
                            @include generate-font(10px,500,1.33,#a1a1a1);
                        }
                    }
                    .form-control{
                        height: auto;
                        border: 0px;
                        border-radius: 2px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                        background-color: #efeff4;
                        padding: 10px 12px;
                        @include generate-font(14px,500,1.29, #666666);
                        @include placeholder(#a1a1a1);
                        &:focus{
                            -webkit-box-shadow: none;
                            box-shadow: none;
                        }
                    }
                    .input-group-append {
                        height: auto;
                        border: 0px;
                        border-radius: 2px;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        background-color: #efeff4;;
                        color: #666666;
                        margin-left: 0px;
                        .btn{
                            @include generate-button(10px,16px,14px,500,normal);
                            color: #ffffff;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                        }
                    }  
                }
            }
        }

        #assessment {
            .assessment-section {
                @include generate-font(16px,bold,1.5,#666666);
                margin-bottom: 8px;
            }
            .assessment-desc {
                @include generate-font(15px,normal,1.4,#a1a1a1);
                margin-bottom: 28px;
            }
            .table {
                thead {
                    tr th{
                        @include generate-font(14px,bold,1.29,#8a8a8a);
                        font-size: 14px;
                        border-bottom: 1px solid #efeff4;
                        border-top: 0px;
                        &.current{
                            color: #007aff;
                        }
                        &.preferred{
                            color: #ff2d55;
                        }
                    }
                } 
                tfoot {
                    tr th{
                        @include generate-font(14px,bold,1.29,#8a8a8a);
                        font-size: 14px;
                        border-bottom: 0px;
                        border-top: 0px;
                    }
                }
                tbody tr td {
                    border-top: 0px;
                    border-bottom: 1px solid #efeff4;
                    @include generate-font(16px,normal,1.13,#8a8a8a);
                }
            }
           
            .show-company-culture {
                margin-bottom: 36px;
                .form-check {
                    padding-left: 0px;
                    margin-bottom: 6px;
                    label{
                        @include generate-font(15px,normal,1.6,#8a8a8a);
                    }
                    input{
                        margin-right: 12px;
                    }
                }
            }

            .checkbox-container {
                display: block;
                position: relative;
                padding-left: 36px;
                margin-bottom: 16px;
                cursor: pointer;
                @include generate-font(15px,normal,1.6,#8a8a8a);
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
            .checkbox-container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                display: none;
            }
            
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 24px;
                width: 24px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 2px #a1a1a1;
            }
            
            .checkbox-container:hover input ~ .checkmark {
                background-color: #ffffff;
            }
            
            .checkbox-container input:checked ~ .checkmark {
                background-color: #666666;
                border: 0px;
            }
            
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            .checkbox-container input:checked ~ .checkmark:after {
                display: block;
            }
            
            .checkbox-container .checkmark:after {
                left: 8px;
                top: 2px;
                width: 8px;
                height: 16px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .form-group {
                margin-bottom: 24px;
                @include input-label();
                .form-control{
                    height: auto;
                    border: 0px;
                    border-radius: 2px;
                    background-color: #efeff4;
                    padding: 12px 24px;
                    @include generate-font(16px,normal,1.13, #666666);
                    @include placeholder(#a1a1a1);
                    &:focus{
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }

            .link-btns{
                @media (max-width:767px) {
                    margin-bottom: 24px;
                }
                .btn {
                    margin:2px;
                    @include generate-button(10px,16px,15px,500,normal);
                }
                .or{
                    margin-left: 6px;
                    margin-right: 6px;
                }
            }
            
            .progressbar-container{
                .num-of-people{
                    @include generate-font(38px,bold,normal,#666666);
                }
                .desc-of-people{
                    padding: 10px;
                    .people-passed{
                        @include generate-font(12px,600,1,#a1a1a1);
                    }
                    .people-when{
                        @include generate-font(15px,normal,1.4,#a1a1a1);
                    }
                }
                .row{
                    margin-right: 0px;
                    margin-left: 0px;
                }
                .col-9,.col-3,.col-6{
                    padding-left: 0px;
                    padding-right: 0px;
                }
                .progressbar-label {
                    @include generate-font(16px,500,1.38,#8a8a8a);
                    margin-bottom: 10px;
                }
                .progressbar-element {
                    margin-bottom: 23px;
                    &.without-margin{
                        margin-bottom: 0px;
                    }
                    .progress{
                        height: 7px;
                        border-radius: 2px;
                    }
                }
                .progressbar-count{
                    @include generate-font(16px,500,1.38,#8a8a8a);
                    margin-left: 16px;
                    text-align: left;
                }
            }
            
        }

        #representative {
            @include drop-zone();

            .form-group {
                margin-bottom: 24px;
                &.position{
                    margin-bottom: 0px;
                }
                @include input-label();
                .form-control{
                    height: auto;
                    border: 0px;
                    border-radius: 2px;
                    background-color: #efeff4;
                    padding: 12px 24px;
                    @include generate-font(16px,normal,1.13, #666666);
                    @include placeholder(#a1a1a1);
                    &:focus{
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
            } 
            .add-representative-btn {     
                @include generate-button(0px,0px,16px,normal,1.5);
                background-color: #ffffff;
                border-color: #ffffff;
                color: #a1a1a1;
                margin: 0px;
                margin-top:24px;
                margin-bottom: 0px;
                .add-icon {
                    @include icon();
                    margin-right: 5px;
                }
            }
        }

        #social-networks{

            .form-group {
                margin-bottom: 24px;
                &.glassdoor{
                    margin-bottom: 0px;
                }
                @include input-label();
                .form-control{
                    height: auto;
                    border: 0px;
                    border-radius: 2px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    background-color: #efeff4;
                    padding: 12px 24px;
                    @include generate-font(16px,normal,1.13, #666666);
                    @include placeholder(#a1a1a1);
                    &:focus{
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                    &:disabled{
                        background-color: #f9f9f9;
                        @include generate-font(16px,normal,1.13, #c8c7cc);
                    }
                }
                .input-group-append {
                    height: auto;
                    border: 0px;
                    border-radius: 2px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    background-color: #efeff4;;
                    color: #666666;
                    margin-left: 0px;
                    .btn{
                        @include generate-button(10px,16px,16px,normal,1.13);
                        color: #ffffff;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }
                }
                
            }
        }

        .profile-submit {
            position: relative;
            z-index: 6;
            display: block;
            background-color: #ffffff;
            padding: 16px;
            .submit-btn{
                @include generate-button(15px,36px,18px,600,normal);
                margin-left: 12px;
                margin-right: 12px;
            }
        }

        .react-autosuggest__container {
            position: relative;
        }
    
        .react-autosuggest__input {
            width: 240px;
            height: 30px;
            padding: 10px 20px;
            @include generate-font(16px,normal,1.13, #a1a1a1);
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .react-autosuggest__loading {
            padding: 10px 20px;
            @include generate-font(16px,normal,1.13, #a1a1a1);
        }
    
        .react-autosuggest__input--focused {
            outline: none;
        }
    
        .react-autosuggest__input--open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    
        .react-autosuggest__suggestions-container {
            display: none;
        }
    
        .react-autosuggest__suggestions-container--open {
            display: block;
            position: absolute;
            top: 51px;
            width: 280px;
            border: 1px solid #aaa;
            background-color: #fff;
            @include generate-font(16px,normal,1.13, #666666);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            z-index: 10;
        }
    
        .react-autosuggest__suggestions-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    
        .react-autosuggest__suggestion {
            cursor: pointer;
            padding: 10px 20px;
        }
    
        .react-autosuggest__suggestion--highlighted {
            background-color: #ddd;
        }
    }

    .profile-view {
        margin-bottom: 32px;
        img.background-image{
            margin-top:24px;
            border-top: solid 2px #d8d8d8;
            border-bottom: solid 2px #d8d8d8;
            max-height: 100%;  
            max-width: 100%; 
            object-fit: cover;
            width: 100%;
            height: 280px;
            position: absolute;
            z-index: -1;
        }
        div.background-image{
            margin-top:24px;
            border-top: solid 2px #d8d8d8;
            border-bottom: solid 2px #d8d8d8;
            max-height: 100%;  
            max-width: 100%; 
            object-fit: cover;
            width: 100%;
            height: 280px;
            position: absolute;
            z-index: -1;
            background-color: #f9f9f9;
        }
        .profile-view-header {
            margin-top: 190px;
            img.avatar {
                border: solid 2px #d8d8d8;
                max-height: 100%;  
                max-width: 100%; 
                object-fit: cover;
                width: 171px;
                height: 171px;
                border-radius: 3px;
                position: relative;
                z-index: 1;
            }
            div.avatar {
                border: solid 2px #d8d8d8;
                max-height: 100%;  
                max-width: 100%; 
                object-fit: cover;
                width: 171px;
                height: 171px;
                border-radius: 3px;
                position: relative;
                z-index: 1;
                background-color: #f9f9f9;
            }
            .company-name{
                @include generate-font(24px,bold,1.25, #666666);
                margin-top: 24px;
                margin-left: 24px;
                margin-bottom: 8px;
            }
            .industry{
                @include generate-font(16px,500,1.38, #8a8a8f);
                margin-left: 24px;
                margin-bottom: 44px;
            }
            .num-employees-container, .phone-container, .headquaters-container{
                display: inline-block;
            }
            .num-employees{
                @include generate-font(12px,normal,1.33, #a1a1a1);
                margin-bottom: 2px;
                margin-left: 24px;
                margin-right: 30px;
            }
            .num-employees-value{
                @include generate-font(16px,500,1.38, #8a8a8f);
                margin-left: 24px;
                margin-right: 30px;
            }
            .phone, .headquaters {
                @include generate-font(12px,normal,1.33, #a1a1a1);
                margin-bottom: 2px;
                margin-right: 30px;
            }
            @media (max-width: 991.98px) { 
                .phone, .phone-value{
                    margin-left: 24px;
                }
                .headquaters, .headquaters-value{
                    margin-left: 24px;
                }
            }
            .phone-value, .headquaters-value{
                @include generate-font(16px,500,1.38, #8a8a8f);
                margin-right: 30px;
            }
            .social-btn{
                cursor: pointer;
                border-radius: 50%;
                margin: 2px;
                margin-left: 16px;
                padding: 11px;
                width: 40px;
                height: 40px;
                background-color: #c8c7cc;
            }
        }
        .profile-submit {
            position: relative;
            z-index: 6;
            display: block;
            background-color: #ffffff;
            padding: 16px;
            .submit-btn{
                @include generate-button(15px,36px,18px,600,normal);
                margin-left: 12px;
                margin-right: 12px;
            }
        }

        #main-information, #perks-and-benefits, #office-and-team, #representative, #culture{
            margin-bottom: 24px;
            @include cards();
        }

        #main-information {
            margin-top:36px;
            .main-information-title{
                @include generate-font(20px,bold,1.5, #666666);
                margin-bottom: 12px;
            }
            .main-information-desc{
                @include generate-font(15px,normal,1.4, #a1a1a1);
                margin-bottom: 32px;
                &.without-margin{
                    margin-bottom: 0px;
                }
            }
        }
        #perks-and-benefits{
            .perks-and-benefits-title{
                @include generate-font(20px,bold,1.5, #666666);
            }
            .perks-and-benefits-section{
                @include generate-font(16px,bold,1.5, #666666);
                margin-bottom: 16px;
                margin-top: 24px;
            }
            .perks-and-benefits-card{
                background-color: #efeff4;
                display:inline-block;
                border-radius: 2px;
                padding: 10px 15px;
                margin-right: 12px;
                margin-bottom: 12px;
                white-space: nowrap;
                span{
                    @include generate-font(14px,500,1.29,#666666);
                    text-align: center;
                }
            }
        }
        #office-and-team {
            .our-office-label,.our-team-label{
                @include generate-font(16px,bold,1.5,#666666);
                margin-bottom: 16px;
            }
            .our-team-label{
                margin-top: 32px;
            }
            .arrow-btns{
                .btn-lg {
                    @include generate-button(0px,0px,20px,bold,normal);
                    background-color: #ffffff;
                    border-color: #ffffff;
                    margin: 2px 6px
                }
                .back-icon, .next-icon {
                    @include icon();
                }
            }

            .images-array {
                position: relative;
                width: 100%;
                height: 164.7px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 2px #d8d8d8;
                @include generate-font(16px,normal,1.5, #a1a1a1);
                text-align: center;
                @include image-preview(164.7px);
                margin-bottom: 24px;
            }

            .images-team-array {
                position: relative;
                width: 100%;
                height: 164.7px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 2px #d8d8d8;
                @include generate-font(16px,normal,1.5, #a1a1a1);
                text-align: center;
                @include image-preview(164.7px);
            }

            .team-images-container {
                margin-bottom: 24px;
                .member-name{
                    @include generate-font(18px,500,1.17, #666666);
                    margin-top:12px;
                    margin-bottom: 4px;
                }
                .member-position {
                    @include generate-font(16px,normal,1.31, #a1a1a1);
                }
            }
        }
        #representative{
            margin-top:36px;
            .representative-title{
                @include generate-font(20px,bold,1.5, #666666);
                margin-bottom: 16px;
            }
            img.representative-image {
                border: solid 2px #d8d8d8;
                max-height: 100%;  
                max-width: 100%; 
                object-fit: cover;
                width: 190px;
                height: 140px;
                border-radius: 3px;
                position: relative;
                z-index: 1;
            }
            div.representative-image {
                border: solid 2px #d8d8d8;
                max-height: 100%;  
                max-width: 100%; 
                object-fit: cover;
                width: 190px;
                height: 140px;
                border-radius: 3px;
                position: relative;
                z-index: 1;
                background-color: #f9f9f9;
            }
            .representative-name{
                @include generate-font(18px,500,1.17, #666666);
                margin-top:12px;
                margin-bottom: 4px;
            }
            .representative-position {
                @include generate-font(16px,normal,1.31, #a1a1a1);
            }
        }
        #culture{
            .culture-title{
                @include generate-font(20px,bold,1.5, #666666);
                margin-bottom: 12px;
            }
            .culture-desc{
                @include generate-font(15px,normal,1.4, #a1a1a1);
                margin-bottom: 24px; 
            }
            .table {
                margin-top:32px;
                margin-bottom: 0px;
                tfoot {
                    tr th{
                        @include generate-font(14px,bold,1.29,#8a8a8a);
                        font-size: 14px;
                        border-bottom: 0px;
                        border-top: 0px;
                    }
                }
                tbody tr td {
                    border-top: 0px;
                    border-bottom: 1px solid #efeff4;
                    @include generate-font(16px,normal,1.13,#8a8a8a);
                }
            }
        }
    }
    
    /*
    .more-less{
        position: relative;
        text-align: center;
        top: -32px;
        padding-top:32px;
        background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); 
        background: linear-gradient(to top, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); 
    }
    */
    
}