.reset-password-block {
    .aspire-logo {
        margin-top: 60px;
        margin-bottom: 20px;
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
    .card {
        border: 0px;
        margin-top: 20px;
        margin-bottom: 215px;
        padding: 40px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #666666;
        margin-bottom: 24px;
    }
    .form-group {
        margin-bottom: 24px;
    }
    label {
        z-index: 4;
        display: inline-block;
        position:absolute;
        left: 24px;
        top: 18px;
        pointer-events: none;
        transition: all 150ms ease-in;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #a1a1a1;
        margin-bottom: 0px;
    }
    label.active {
        transform: translateY(-32px);
        left: 0px;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: normal;
    }
    .form-control{
        height: 50px;
        border: 0px;
        border-radius: 2px;
        background-color: #efeff4;
        padding: 16px 24px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #666666;
        @include placeholder(#a1a1a1);
    }
    .form-control:focus{
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .btn-lg {
        border-radius: 3px;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f9f9f9;
        padding: 15px 36px;
    }
    .btn-toolbar {
        .btn-group{
            margin-top: 8px;
        }
    }
    .alert {
        padding: 12px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #8a8a8f;
        margin-bottom: 15px;
    }
}