
$selectElementGray: #efeff4;

#shortlist {

  .shorlist-title {
    color: $primaryColor;
    @include fontWith($size: 24px, $weight: bold, $lineHeight: 1.25);
  }

  .grid-container {
    display: grid;
    grid-auto-flow: dense;
    align-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: start;
    grid-auto-flow: row;
  }

  .pt-9px {
    margin-top: 10px;
  }

  .standard-height {
    height: 220px;
    width: auto;
  }

  .top-offset-for-pagination {
    margin-top: 40px;
  }

  #selectContainer {
    display: flex;
    justify-content: start;
    align-items: baseline;
  }

  option {
    @include fontWith($size: 16px, $weight: 500, $lineHeight: 1.13);
    color: $primaryColor;
    background-color: white;
    &:active {
      color: white;
      background-color: $light-text;
    }

    &:after {
      background-color: red;
    }
  }

  .form-control:focus {
     -webkit-box-shadow: none;
     box-shadow: none;
  }

  .badge-item {
    @include fontWith($size: 14px, $weight: normal, $lineHeight: 1.29);
    height: 28px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .select-element-style {
    @include fontWith($size: 16px, $lineHeight: 1.13);
    display: flex;
    width: 282px;
    height: 40px;
    background-color: $selectElementGray;
    border: 0px;
    border-radius: 2px;
    color: $light-text;
    text-indent: 16px;
    right: 50px;

    color: $primaryColor;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("../assets/img/shortlist/caret-top-down.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
  }

  h5, p {
    margin-bottom: 0px;
  }

  @media (max-width: 991.98px)  {
    #selectContainer {
      display: block;
      padding-bottom: 10px;
    }

    .grid-container {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media (max-width: 767.98px) {
    #selectContainer {
      display: block;
      padding-bottom: 10px;
    }

    .grid-container {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media (max-width: 575.98px) {
    #selectContainer {
      display: block;
      padding-bottom: 10px;
    }

    .grid-container {
      grid-template-columns: repeat(1, auto);
    }
  }
}
