  /** Black */
  @font-face {
    font-family: "SF Display";
    font-weight: 900;
    src: url("../assets/fonts/SF-Pro-Display-Black.otf");
  }
  
  /** Bold */
  @font-face {
    font-family: "SF Display";
    font-weight: 700;
    src: url("../assets/fonts/SF-Pro-Display-Bold.otf");
  }
  
  /** Heavy */
  @font-face {
    font-family: "SF Display";
    font-weight: 800;
    src: url("../assets/fonts/SF-Pro-Display-Heavy.otf");
  }
  
  /** Light */
  @font-face {
    font-family: "SF Display";
    font-weight: 200;
    src: url("../assets/fonts/SF-Pro-Display-Light.otf");
  }
  
  /** Medium */
  @font-face {
    font-family: "SF Display";
    font-weight: 500;
    src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
  }
  
  /** Regular */
  @font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
  }
  
  /** Semibold */
  @font-face {
    font-family: "SF Display";
    font-weight: 600;
    src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
  }
  
  /** Thin */
  @font-face {
    font-family: "SF Display";
    font-weight: 300;
    src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
  }
  
  /** Ultralight */
  @font-face {
    font-family: "SF Display";
    font-weight: 100;
    src: url("../assets/fonts/SF-Pro-Display-Ultralight.otf");
  }

  /** Black Italic */
  @font-face {
    font-family: "SF Display";
    font-weight: 900;
    font-style: italic;
    src: url("../assets/fonts/SF-Pro-Display-BlackItalic.otf");
  }
  
  /** Bold Italic */
  @font-face {
    font-family: "SF Display";
    font-weight: 700;
    font-style: italic;
    src: url("../assets/fonts/SF-Pro-Display-BoldItalic.otf");
  }
  
  /** Heavy Italic */
  @font-face {
    font-family: "SF Display";
    font-weight: 800;
    font-style: italic;
    src: url("../assets/fonts/SF-Pro-Display-HeavyItalic.otf");
  }
  
  /** Light Italic */
  @font-face {
    font-family: "SF Display";
    font-weight: 200;
    font-style: italic;
    src: url("../assets/fonts/SF-Pro-Display-HeavyItalic.otf");
  }

  /** Medium Italic */
  @font-face {
    font-family: "SF Display";
    font-weight: 500;
    font-style: italic;
    src: url("../assets/fonts/SF-Pro-Display-MediumItalic.otf");
  }
  
  /** Regular Italic */
  @font-face {
    font-family: "SF Display";
    font-weight: 400;
    font-style: italic;
    src: url("../assets/fonts/SF-Pro-Display-RegularItalic.otf");
  }
  
  /** Semibold Italic */
  @font-face {
    font-family: "SF Display";
    font-weight: 600;
    font-style: italic;
    src: url("../assets/fonts/SF-Pro-Display-SemiboldItalic.otf");
  }
  
  /** Thin Italic */
  @font-face {
    font-family: "SF Display";
    font-weight: 300;
    font-style: italic;
    src: url("../assets/fonts/SF-Pro-Display-ThinItalic.otf");
  }

  /** Ultralight Italic */
  @font-face {
    font-family: "SF Display";
    font-weight: 100;
    font-style: italic;
    src: url("../assets/fonts/SF-Pro-Display-UltralightItalic.otf");
  }