// cards
@mixin cards(){
  border: 0px;
  padding: 36px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1);
}

// font generator
@mixin generate-font($size,$weight,$line-height,$color){

  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;

  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

// button generator
@mixin generate-button($xpadding,$ypadding,$size,$weight,$line-height){
  padding: $xpadding $ypadding;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  border-radius: 3px;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

// icon
@mixin icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

// image preview
@mixin image-preview($height) {
  .image-preview {
      max-height: 100%;  
      max-width: 100%; 
      object-fit: cover;
      width: 100%;
      height: $height;
      position: absolute;  
      top: 0;  
      bottom: 0;  
      left: 0;  
      right: 0; 
      z-index: 0;
  }
}

// drop-zone
@mixin drop-zone {
  .drop-zone-container{
    margin-bottom: 24px;
    .drop-zone {
        @include generate-font(16px,normal,1.5, #a1a1a1);
        cursor: pointer;
        width: 100%;
        height: 140px;
        border-radius: 3px;
        background-color: #ffffff;
        border: dashed 2px #d8d8d8;
        text-align: center;
        
        &.active {
            border: solid 2px #d8d8d8;
        }
        .replace-image, .upload-image {
            position: relative;
            z-index: 2;
            .upload-icon {
                @include icon();
            }
        }
        .loading-image {
          position: relative;
          z-index: 2;
          .loading-container{
            display: inline-block;
            width: 36px;
            height: 36px;
          }

        }
        @include image-preview(140px);
    }
  }
  .clear-uploaded-image {
      @include icon();
      z-index: 3;
      position: absolute;
      cursor: pointer;
      margin: 4px;
      color: #a1a1a1;
      top: 0;
      right: 15px;
  }
}

// input label
@mixin input-label {
  label {
    @include generate-font(16px,normal,1.13, #a1a1a1);
    z-index: 4;
    display: inline-block;
    position:absolute;
    left: 24px;
    top: 12px;
    pointer-events: none;
    transition: all 150ms ease-in;
    margin-bottom: 0px;
    &.active{
        @include generate-font(12px,normal,1.33, #a1a1a1);
        transform: translateY(-28px);
        left: 0px;
    }
  }
}

@mixin bg-strike($color) {

  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 

  > span {

      position: relative;
      display: inline-block;

      &:before,
      &:after {
          content: "";
          position: absolute;
          top: 50%;
          width: 9999px;
          height: 1px;
          background: $color;
      }

      &:before {
          right: 100%;
          margin-right: 24px;
      }

      &:after {
          left: 100%;
          margin-left: 24px;
      }
  }
}

@mixin underline-link($color) {

.nav-link {
    border-radius: 0px;
  }

  > li.nav-item {
    > a.nav-link{

      color: #a1a1a1;

      background-color: transparent !important;

      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
    }

    > a.nav-link.active,
    > a.nav-link.active:hover{
      
      color: $color;

      text-decoration: none;
      
      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-bottom-color: $color;
    }

    > a.nav-link:hover
    {
      color: $color;
      cursor: pointer;
    }
}
}

@mixin underline($color) {

    .nav-link {
      border-radius: 0px;
    }
    
    > li.nav-item.active,
    > li.nav-item.active:hover{
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: $color;
    }

    > li.nav-item.active {
      background-color: transparent !important;
    }
    > li.nav-item.active:hover,
    > li.nav-item:hover {
      
      background-color: transparent !important;
      cursor: pointer;
    }
    > li.nav-item {
        background-color: transparent !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #efeff4;
  }
}

@mixin underline-sidebar($color, $bg-color) {

  .nav-link {
      border-radius: 0px;
    }
  
    > li.nav-item {
      > a.nav-link{

        color: #a1a1a1;

        background-color: transparent;
  
        border-left-width: 4px;
        border-left-style: solid;
        border-left-color: transparent;
      }
  
      > a.nav-link.active,
      > a.nav-link.active:hover {
        color: #666666;
        
        text-decoration: none;
  
        background-color: $bg-color;

        border-left-width: 4px;
        border-left-style: solid;
        border-left-color: $color;
      }
  
      > a.nav-link:hover
      {
        color: #666666;
        cursor: pointer;
      }
  }
}

@mixin placeholder($color: $input-color-placeholder) {
    // Firefox
    &::-moz-placeholder {
      color: $color;
      opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }
    &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
    &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}

@mixin fontWith($size, $weight : "normal", $lineHeight: 1.5) {
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
  font-stretch: normal;
  line-height: $lineHeight;
  letter-spacing: normal;
}