.btn-link{
    color: #a1a1a1;
    &:disabled{
        color: #a1a1a1;
    }
}
.btn-link:hover{
    color: #666666;
}
.navbar-toggler {
    border: 0px;
    &:focus{
        outline: 0;
    }
}
.btn-primary:focus{
    outline: 0;
    box-shadow: none;
}
