$body-color: #8a8a8f;

$theme-colors: (
  "primary": #666666,
  "secondary": #fc5c7d,
  "success": #45b649,
  "danger": #f85032,
  "warning": #ffd700,
  "info": #00c9ff
);

$inactive-color: #6c757d;
$block-color: #f1f1f1;
$disable-color: #a5a5a5;
$input-color: #eeeeee;
$invalid-color: #dc3545;

$light-text : #a1a1a1;
