$createJobWidth: 154px;
$createJobHeight: 51px;

$createJobSmallWidth: 77px;
$createJobSmallHeight: 25.5px;

$statusButtonWidth: 66px;
$statusButtonHeight: 28px;

$donerWithEqualHeight: 24px;

$starWithEqualHeight: 40px;

$inviteToApplyButtonWidth: 122px;

$customWhite : #f9f9f9;
$customGreen : #4cd964;
$customBlue  : #5ac8fa;
$customGrey  : #c8c7cc;
$customDarkGrey : #8a8a8f;

$primaryColor : map-get($theme-colors, "primary");

.jobs-list {
  .mt-m15 {
    margin-top: -15px;
  }

  .mt-m1 {
    margin-top: -1px;
  }

  .mr-50 {
    margin-right: 204px;
  }

  .custom-green {
    background-color: $customGreen;
  }

  .custom-blue {
    background-color: $customBlue;
  }

  .custom-grey {
    background-color: $customGrey;
  }

  #statusButton {
    @include fontWith($size: 14px, $weight:normal, $lineHeight: 0.9);
    width: $statusButtonWidth;
    height: $statusButtonHeight;
    margin-right: 0px;
    margin-right: 0px;
  }

  .doner {
    width: $donerWithEqualHeight;
    height: $donerWithEqualHeight;
    padding-top: 3px;
  }

  .card-title {
    @include fontWith($size: 24px, $weight: bold, $lineHeight: 1.25);
  }

  .main-nav-font {
    @include fontWith($size: 20px, $weight: bold);
  }

  .secondary-nav-font {
    @include fontWith($size: 17px, $weight: bold, $lineHeight: 1.76);
  }

  .small-card-settings {
    border-radius: 3px;
    background-color: white;
  }

  .small-card-settings-active {
    background-color: $customWhite;
  }

  .invite-to-apply-card-settings {
    background-color: $customWhite;

    .card {
      border-radius: 0px;
    }
  }

  .create-job {
    @include fontWith($size: 18px, $weight: 600, $lineHeight: normal);

    width: $createJobWidth;
    height: $createJobHeight;
    margin-top: -$createJobHeight;
    color: $customWhite;
    border: 0;

    background-color: $primaryColor;

    &:active {
      background-color: $primaryColor;
    }
  }

  .small-create-job-button {
    @include fontWith($size: 14px, $weight: 400, $lineHeight: 0.9);

    padding-left: 0px;
    padding-right: 0px;

    width: $createJobSmallWidth;
    height: $createJobSmallHeight;
    margin-top: $createJobSmallHeight;
    align-content: center;
    color: $customWhite;
    border: 0;

    background-color: $primaryColor;

    &:active {
      background-color: $primaryColor;
    }
  }

  .secondary-nav-font, .main-nav-font, .card-title, .percentage-text {
      color: $primaryColor ;
  }

  .date {
    color: $light-text;
  }

  .salary {
    @include fontWith($size: 16px, $weight: 500, $lineHeight: 1.38);
    color: $body-color;
  }

  .date {
    @include fontWith($size: 12px, $lineHeight: 1.33);
  }

  .fixed-i-height {
    max-height: 1100px; //-41
    overflow-y: hidden;
  }

  .pre-scrollable {
    max-height: 1081px;
    overflow-y: scroll;
    padding-bottom: 16px;
  }

  .pb-6 {
    padding-bottom: 180px;
  }

  .top-minus {
    margin-top: -37px;
  }

  @media (min-width: 991.98px) {
    .col-lg-4half {
      @include make-col(3.7);
    }

    .col-lg-7half {
      @include make-col(8.3);
    }
  }

  @media (max-width: 991.98px)  {

    .card-title {
      @include fontWith($size: 20px, $weight: bold, $lineHeight: 1.25);
    }

    .mr-50 {
      margin-right: 0px;
    }
  }

  @media (max-width: 767.98px) {

    .card-title {
      @include fontWith($size: 18px, $weight: bold, $lineHeight: 1.25);
    }

    .mr-50 {
      margin-right: 0px;
    }
  }

  @media (max-width: 575.98px) {

    .card-title {
      @include fontWith($size: 15px, $weight: bold, $lineHeight: 2.2);
    }

    .mr-50 {
      margin-right: 0px;
    }

    ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    .fixed-i-height {
      overflow-y: scroll;
      overflow-x: hidden;
      padding-right: 0px;
    }

    .pb-6 {
      padding-bottom: 20px;
    }
  }

  .link-style-preciate {
    @include fontWith($size: 15px, $weight: 500, $lineHeight: 1.25);
    color: $light-text;
  }

  .link-in-selected-state {
    color: $primaryColor;
  }

  .custom-shadow {
    margin-left: 6px;
    box-shadow: 0 2px 16px 0 rgba(4, 19, 36, 0.1) !important;
  }
}




