.jobs-block {
    h4 {
        font-weight: bold;
    }
    .btn-lg {
        padding: 1rem 2rem;
    }
    .nav-pills {  
        @include underline-sidebar($inactive-color, $input-color);
    }
    .nav-item {
        .nav-link {
            color: $disable-color;
            font-weight: bold; 
            font-size: 1.25rem;
        }
        & .active {
            color: $inactive-color;
        }
    }
}