.view-job {
  text-align: left;
  padding-top: 32px;
  padding-bottom: 70px;

  .job-header {
    border: 0px;
    padding: 36px;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1) !important;

    p {
      text-align: left;
    }

    .avatar-for-job {
      border: solid #d8d8d8 1.3px;
      background-color: #f9f9f9;
      width: 120px;
      height: 88px;
      @include float-right;
    }

    .bold-text, small-bold-text {
      color: #666666;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
    }

    .bold-text {
      font-size: 28px;
    }

    .small-bold-text, normal-text, underline-text {
      font-size: 16px;
    }

    .oval::after {
      content: "  \2022  ";
    }

    .oval, underline-text, normal-text {
      color: #8a8a8f;
      letter-spacing: normal;
      line-height: 1.38;
    }

    .underline-text {
      text-decoration: underline;
    }

    .underline-text, normal-text {
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
    }

    .thin-text {
      color: #a1a1a1;
      line-height: 1.33;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
    }

    .flex-buttons {
      display: flex;
      align-content: space-between;
      flex-shrink: 2;
    }

    .buttons {
      width: 112px;
      height: 51px;
      outline: 0px;
      margin-right: 24px;
    }

    .white-button {
      border: solid 2px #c8c7cc;
      color: #a1a1a1;
      border-radius: 3px;
    }

    .dark-button {
      border: 0px;
      border-radius: 3px;
      background-color: #666666;
      color: #f9f9f9;

    }

    .white-button, .dark-button {
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }

  .description {
    border: 0px;
    margin-top: 24px;
    padding: 36px;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1) !important;

    span {
      text-align: left;
    }

    li {
      text-align: left;
    }

    .font-settings, .bold-font, .normal-text, .big-line-space, .small-text, .table-text {
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }

    .bold-font {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      color: #666666;
    }

    .normal-text {
      font-size: 15px;
      line-height: 1.4;
      font-weight: normal;
      color: #a1a1a1;
    }

    .small-bold {
      font-size: 16px;
      font-weight: bold;
      color: #666666;
      line-height: 1.5;
    }

    .big-line-space {
      line-height: 1.4;
      font-size: 15px;
    }

    .summary {
      border-collapse: separate;
      border-spacing: 36px 10px;
      align-content: left;
      text-align: left;
      *border-collapse: expression('separate', cellSpacing = '36px');
      margin-left: -36px;
    }

    .small-text {
        font-size: 12px;
        line-height: 1.33;
        color: #a1a1a1;
    }

    .table-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.38;
      color: #8a8a8f;
    }

    ul {
      padding-left: 36px;
    }

    li {
      padding-left: 18px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #a1a1a1;
    }
  }

  .what-we-offer {
    border: 0px;
    padding: 36px;
    margin-top: 24px;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1) !important;

    span, p, div {
      text-align: left;
    }

    .grid-container {
      align-content: left;
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(auto-fill, 250px);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      align-items: start;
      grid-auto-flow: row;
      margin-bottom: 32px;
    }

    button {
      background-color: #efeff4;
      color: #666666;
      border-radius: 2px;
      outline: 0;
      border: 0px;
      padding: 10px 15px;
      text-align: center;
      margin-right: 10px;
    }

    .bold-font, small-bold {
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }

    .bold-font {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      color: #666666;
    }

    .small-bold {
      font-size: 16px;
      font-weight: bold;
      color: #666666;
      line-height: 1.5;
    }
  }

  .what-we-do {
    border: 0px;
    padding: 36px;
    margin-top: 24px;
    box-shadow: 0 2px 6px 0 rgba(4, 19, 36, 0.1) !important;

    span, p, div {
      text-align: left;
    }

    small-bold, contact-name {
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }

    .bold-font {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      color: #666666;
    }

    .small-bold {
      font-size: 16px;
      font-weight: bold;
      color: #666666;
      line-height: 1.5;
    }

    .avatar-for-company {
      border: solid #d8d8d8 1.3px;
      background-color: #f9f9f9;
      width: 190px;
      height: 143.3px;
      min-width: 90px;
      min-height: 43px;

    }

    .message-info-container {
      @include float-right;
      text-align: left;
      padding-left: 48px;
    }

    .dark-button {
      border: 0px;
      border-radius: 3px;
      background-color: #666666;
      color: #f9f9f9;
      width: 145px;
      height: 51.8px;
    }

    .dark-button {
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      outline: 0px;
      border: 0px;

    }

    .contact-name {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.17;
      color: #666666;
    }
  }
}




